{
	"openapi": "3.0.1",
	"info": {
		"title": "Agenda API",
		"description": "Agenda Application",
		"version": "v0.0.*"
	},
	"servers": [
		{
			"url": "http://ec2-54-159-12-88.compute-1.amazonaws.com",
			"description": "Deploy"
		}
	],
	"security": [
		{
			"bearer-key": []
		}
	],
	"paths": {
		"/api/{establishmentId}/user/{userId}/userEstablishment/{userEstablishmentId}": {
			"get": {
				"tags": [
					"User Establishment"
				],
				"summary": "Search for details of the user's relationship with the establishment",
				"operationId": "findById",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userEstablishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"404": {
						"description": "Not autorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserEstablishment"
								}
							}
						}
					},
					"200": {
						"description": "Successful Operation",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserEstablishment"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"User Establishment"
				],
				"summary": "Update user link with establishment",
				"operationId": "update",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userEstablishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserEstablishmentDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserEstablishment"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"User Establishment"
				],
				"summary": "Remove user link with establishment",
				"operationId": "delete",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userEstablishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/wa/{establishmentId}/account/{waAccountId}": {
			"get": {
				"tags": [
					"Whatsapp Account Data"
				],
				"operationId": "findById_1",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "waAccountId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WaAccount"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Whatsapp Account Data"
				],
				"operationId": "update_1",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "waAccountId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WaAccountDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WaAccount"
								}
							}
						}
					}
				}
			}
		},
		"/api/wa/{establishmentId}/account/{waAccountId}/unblock": {
			"put": {
				"tags": [
					"Whatsapp Account Data"
				],
				"operationId": "unblock",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "waAccountId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WaAccount"
								}
							}
						}
					}
				}
			}
		},
		"/api/wa/{establishmentId}/account/{waAccountId}/cancel": {
			"put": {
				"tags": [
					"Whatsapp Account Data"
				],
				"operationId": "cancel",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "waAccountId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WaAccount"
								}
							}
						}
					}
				}
			}
		},
		"/api/wa/{establishmentId}/account/{waAccountId}/block": {
			"put": {
				"tags": [
					"Whatsapp Account Data"
				],
				"operationId": "block",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "waAccountId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WaAccount"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/workDay/{workDayId}": {
			"get": {
				"tags": [
					"Work Day"
				],
				"operationId": "findByIdWorkDay",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDay"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Work Day"
				],
				"operationId": "updateWorkDay",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WorkDayDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDay"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Work Day"
				],
				"operationId": "deleteWorkDay",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/user/{userId}/address/{addressId}": {
			"get": {
				"tags": [
					"User Address"
				],
				"operationId": "findByIdAddress",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "addressId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"User Address"
				],
				"operationId": "updateAddress",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "addressId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AddressDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/{userId}": {
			"get": {
				"tags": [
					"User"
				],
				"operationId": "findById_3",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserProjection"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"User"
				],
				"operationId": "update_2",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/{userId}/telephone/{userTelephoneId}/cancel": {
			"put": {
				"tags": [
					"User Telephone"
				],
				"operationId": "cancel_1",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userTelephoneId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserTelephone"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/{userId}/password": {
			"put": {
				"tags": [
					"User"
				],
				"operationId": "updateUserPassword",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserPasswordDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/{userId}/lock/{userLockId}/unlock": {
			"put": {
				"tags": [
					"User Lock"
				],
				"operationId": "unlock",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userLockId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserLock"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{serviceId}/serviceValue/{serviceValueId}": {
			"get": {
				"tags": [
					"Service Value"
				],
				"operationId": "findByIdServiceValue",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceValueId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceValue"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Service Value"
				],
				"operationId": "updateServiceValue",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceValueId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceValueDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceValue"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{serviceId}/serviceValue/{serviceValueId}/cancel": {
			"put": {
				"tags": [
					"Service Value"
				],
				"operationId": "cancelServiceValue",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceValueId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceValue"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{serviceId}/serviceLink/{serviceLinkId}": {
			"get": {
				"tags": [
					"Service Link"
				],
				"operationId": "findByIdServiceLink",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceLinkId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceLink"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Service Link"
				],
				"operationId": "updateServiceLink",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceLinkId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceLinkDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceLink"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Service Link"
				],
				"operationId": "deleteServiceLink",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceLinkId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/service/{establishmentId}/{serviceId}": {
			"get": {
				"tags": [
					"Service"
				],
				"operationId": "findById_6",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceDomain"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Service"
				],
				"operationId": "update_3",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{establishmentId}/{serviceId}/cancel": {
			"put": {
				"tags": [
					"Service"
				],
				"operationId": "cancelService",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{establishmentId}/category/{categoryId}": {
			"get": {
				"tags": [
					"Service Category"
				],
				"operationId": "findByIdCategory",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "categoryId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Category"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Service Category"
				],
				"operationId": "updateCategory",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "categoryId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CategoryDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Category"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{schedulingId}/service/{schedulingServiceId}": {
			"get": {
				"tags": [
					"Scheduling Service"
				],
				"operationId": "findByIdService",
				"parameters": [
					{
						"name": "schedulingServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingServiceDomain"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Scheduling Service"
				],
				"operationId": "updateService",
				"parameters": [
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SchedulingServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{schedulingId}/service/cancel/{schedulingServiceId}": {
			"put": {
				"tags": [
					"Scheduling Service"
				],
				"operationId": "cancelService_1",
				"parameters": [
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{establishmentId}/{schedulingId}": {
			"get": {
				"tags": [
					"Scheduling"
				],
				"operationId": "findById_7",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingDomain"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Scheduling"
				],
				"operationId": "update_4",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SchedulingDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{establishmentId}/{schedulingId}/refuse": {
			"put": {
				"tags": [
					"Scheduling"
				],
				"operationId": "refuseScheduled",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{establishmentId}/{schedulingId}/confirm": {
			"put": {
				"tags": [
					"Scheduling"
				],
				"operationId": "confirmScheduled",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{establishmentId}/{schedulingId}/cancel": {
			"put": {
				"tags": [
					"Scheduling"
				],
				"operationId": "cancelScheduled",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/establishment/{establishmentId}": {
			"get": {
				"tags": [
					"Establishment"
				],
				"summary": "Return a unique establishment",
				"operationId": "findById_8",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"description": "Establishment Id",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Establishment found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Establishment"
								}
							}
						}
					},
					"404": {
						"description": "Establishment not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Establishment"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Establishment"
				],
				"summary": "Update an existing establishment",
				"operationId": "update_5",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"description": "Establishment Id",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"description": "Establishment to update",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EstablishmentDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Establishment updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Establishment"
								}
							}
						}
					}
				}
			}
		},
		"/api/establishment/{establishmentId}/workDayDefault/{workDayDefaultId}": {
			"get": {
				"tags": [
					"Work Day Default"
				],
				"operationId": "findById_9",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayDefaultId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDayDefault"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Work Day Default"
				],
				"operationId": "update_6",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayDefaultId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WorkDayDefaultDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDayDefault"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Work Day Default"
				],
				"operationId": "delete_2",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayDefaultId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDayDefault"
								}
							}
						}
					}
				}
			}
		},
		"/api/establishment/{establishmentId}/config/{establishmentConfigId}": {
			"get": {
				"tags": [
					"Establishment Config"
				],
				"summary": "Return an establishment config",
				"operationId": "findByIdEstablishmentConfig",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "establishmentConfigId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Config of establishment found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/EstablishmentConfig"
								}
							}
						}
					},
					"404": {
						"description": "Config of establishment not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/EstablishmentConfig"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Establishment Config"
				],
				"summary": "Update config of establishment",
				"operationId": "updateEstablishmentConfig",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "establishmentConfigId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"description": "Config of establishment to update",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EstablishmentConfigDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Config updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/EstablishmentConfig"
								}
							}
						}
					}
				}
			}
		},
		"/api/establishment/{establishmentId}/address/{addressId}": {
			"get": {
				"tags": [
					"Establishment Address"
				],
				"summary": "Return a unique address of establishment",
				"operationId": "findByIdAddress_1",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "addressId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Address of establishment found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					},
					"404": {
						"description": "Address of establishment not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Establishment Address"
				],
				"summary": "Update address of establishment",
				"operationId": "updateAddress_1",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "addressId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"description": "Address of establishment to update",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AddressDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Address updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{establishmentId}/{attendanceId}": {
			"get": {
				"tags": [
					"Attendance"
				],
				"summary": "Return a unique attendance",
				"operationId": "findById_10",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"description": "Logged Establishment Id",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceId",
						"in": "path",
						"description": "Attendance Id",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Attendance found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					},
					"404": {
						"description": "Attendance not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Attendance"
				],
				"summary": "Update an existing attendance",
				"operationId": "update_7",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"description": "Logged Establishment Id",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceId",
						"in": "path",
						"description": "Attendance Id To Update",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"description": "Attendance to update",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AttendanceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Attendance updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{establishmentId}/finish/{attendanceId}": {
			"put": {
				"tags": [
					"Attendance"
				],
				"summary": "Mark an attendance as finished",
				"operationId": "finishAttendance",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AttendanceFinishDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Attendance marked as finished",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{establishmentId}/cancel/{attendanceId}": {
			"put": {
				"tags": [
					"Attendance"
				],
				"summary": "Cancel an attendance",
				"operationId": "cancelAttendance",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Attendance cancelled",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{establishmentId}/absent/{attendanceId}": {
			"put": {
				"tags": [
					"Attendance"
				],
				"summary": "Mark an attendance as absent",
				"operationId": "absentAttendance",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Attendance marked as absent",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{attendanceId}/service/{attendanceServiceId}": {
			"get": {
				"tags": [
					"Attendance Service"
				],
				"summary": "Return a unique service of an attendance",
				"operationId": "findByIdAttendanceService",
				"parameters": [
					{
						"name": "attendanceId",
						"in": "path",
						"description": "Attendance Id",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceServiceId",
						"in": "path",
						"description": "Attendance Service Id",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Service of attendance found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceServiceDomain"
								}
							}
						}
					},
					"404": {
						"description": "Service of attendance not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceServiceDomain"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Attendance Service"
				],
				"summary": "Update an existing service in an attendance",
				"operationId": "updateAttendanceService",
				"parameters": [
					{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AttendanceServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Service updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{attendanceId}/service/cancel/{attendanceServiceId}": {
			"put": {
				"tags": [
					"Attendance Service"
				],
				"summary": "Cancel a service of an attendance",
				"operationId": "cancelAttendanceService",
				"parameters": [
					{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Service cancelled",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/{establishmentId}/user/{userId}/userEstablishment": {
			"get": {
				"tags": [
					"User Establishment"
				],
				"summary": "Search establishments linked to the user",
				"operationId": "findList",
				"parameters": [
					{
						"name": "userEstablishmentId",
						"in": "query"
					},
					{
						"name": "establishmentId",
						"in": "query"
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUserEstablishment"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"User Establishment"
				],
				"summary": "Link user with establishment",
				"operationId": "insert",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserEstablishmentDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserEstablishment"
								}
							}
						}
					}
				}
			}
		},
		"/api/webhook/whatsapp": {
			"post": {
				"tags": [
					"Public"
				],
				"operationId": "whatsapp",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WhatsappWebhookValidationDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				},
				"security": []
			}
		},
		"/api/wa/{establishmentId}/account": {
			"get": {
				"tags": [
					"Whatsapp Account Data"
				],
				"operationId": "findList_1",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/WaAccountSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageWaAccount"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Whatsapp Account Data"
				],
				"operationId": "insert_1",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WaAccountDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WaAccount"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/workHourSchedException": {
			"get": {
				"tags": [
					"Work Hour Sched Exception"
				],
				"operationId": "findListWorkHourSchedException",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/WorkHourSchedExceptionSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageWorkHourSchedException"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Work Hour Sched Exception"
				],
				"operationId": "insertWorkHourSchedException",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WorkHourSchedExceptionDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkHourSchedException"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/workDay": {
			"get": {
				"tags": [
					"Work Day"
				],
				"operationId": "findListWorkDay",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/WorkDaySpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageWorkDay"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Work Day"
				],
				"operationId": "insertWorkDay",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WorkDayDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDay"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/workDay/establishmentDefault": {
			"post": {
				"tags": [
					"Work Day"
				],
				"operationId": "insertByEstablishmentDefault",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/userPermission": {
			"get": {
				"tags": [
					"User Permission"
				],
				"operationId": "findListUserPermission",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/UserPermissionSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUserPermission"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"User Permission"
				],
				"operationId": "insertUserPermission",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserPermissionDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserPermission"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay": {
			"get": {
				"tags": [
					"Month Work Day"
				],
				"operationId": "findList_2",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/MonthWorkDaySpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageMonthWorkDay"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Month Work Day"
				],
				"operationId": "insert_2",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MonthWorkDayDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MonthWorkDay"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay/replicate/{yearMonth}/{userIdDestination}": {
			"post": {
				"tags": [
					"Month Work Day"
				],
				"summary": "Replicate configuration from one user to another. Will remove old configuration if any, for given month",
				"operationId": "replicateConfigurationByUser",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userIdDestination",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "yearMonth",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay/defaultWorkDay/{yearMonth}": {
			"post": {
				"tags": [
					"Month Work Day"
				],
				"summary": "Release schedule for user, for the month informed",
				"operationId": "insertDefaultMonthWork",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "yearMonth",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay/defaultWorkDay/{initDate}/{finishDate}": {
			"post": {
				"tags": [
					"Month Work Day"
				],
				"summary": "Release schedule for user referring to the range of dates sent",
				"operationId": "insertDefaultMonthWork_1",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "initDate",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"name": "finishDate",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay/block/{yearMonth}": {
			"post": {
				"tags": [
					"Month Work Day"
				],
				"summary": "Blocked Year/Month",
				"operationId": "blockMonthWork",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "yearMonth",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay/block/{initDate}/{finishDate}": {
			"post": {
				"tags": [
					"Month Work Day"
				],
				"summary": "Blocked date range",
				"operationId": "blockMonthWorkByRangeDate",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "initDate",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"name": "finishDate",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/defaultWorkSched": {
			"post": {
				"tags": [
					"Work Hour Sched Info"
				],
				"operationId": "generateEmployeeWorkTime",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/user/{userId}/userService": {
			"get": {
				"tags": [
					"User Service"
				],
				"operationId": "findListUserServiceDomain",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/UserServiceSpec"
						}
					},
					{
						"name": "pageable",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Pageable"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUserServiceDomain"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"User Service"
				],
				"operationId": "insertUserServiceDomain",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/{userId}/telephone": {
			"get": {
				"tags": [
					"User Telephone"
				],
				"operationId": "findList_4",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/UserTelephoneSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUserTelephone"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"User Telephone"
				],
				"operationId": "insert_3",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserTelephoneDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserTelephone"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/{userId}/lock": {
			"get": {
				"tags": [
					"User Lock"
				],
				"operationId": "findList_5",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/UserLockSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUserLock"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"User Lock"
				],
				"operationId": "insert_4",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserLockDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserLock"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/": {
			"post": {
				"tags": [
					"User"
				],
				"operationId": "insert_5",
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}": {
			"get": {
				"tags": [
					"User"
				],
				"operationId": "findList_3",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/UserSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUser"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"User"
				],
				"operationId": "insert_6",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{serviceId}/serviceValue": {
			"get": {
				"tags": [
					"Service Value"
				],
				"operationId": "findListServiceValue",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/ServiceValueSpec"
						}
					},
					{
						"name": "pageable",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Pageable"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageServiceValue"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Service Value"
				],
				"operationId": "insertServiceValue",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceValueDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceValue"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{serviceId}/serviceLink": {
			"get": {
				"tags": [
					"Service Link"
				],
				"operationId": "findListServiceLink",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/ServiceLinkSpec"
						}
					},
					{
						"name": "pageable",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Pageable"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageServiceLink"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Service Link"
				],
				"operationId": "insertServiceLink",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceLinkDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceLink"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{establishmentId}": {
			"get": {
				"tags": [
					"Service"
				],
				"operationId": "findList_6",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/ServiceSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageServiceDomain"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Service"
				],
				"operationId": "insert_7",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{establishmentId}/category": {
			"get": {
				"tags": [
					"Service Category"
				],
				"operationId": "findListCategory",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/CategorySpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageCategory"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Service Category"
				],
				"operationId": "insertCategory",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CategoryDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Category"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{schedulingId}/service": {
			"get": {
				"tags": [
					"Scheduling Service"
				],
				"operationId": "findListService",
				"parameters": [
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/SchedulingServiceSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageSchedulingServiceDomain"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Scheduling Service"
				],
				"operationId": "insertService",
				"parameters": [
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SchedulingServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{establishmentId}": {
			"get": {
				"tags": [
					"Scheduling"
				],
				"operationId": "findList_7",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/SchedulingSpec"
						}
					},
					{
						"name": "pageable",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Pageable"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageSchedulingDomain"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Scheduling"
				],
				"operationId": "insert_8",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SchedulingDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/public/establishment/scheduling/{establishmentId}": {
			"post": {
				"tags": [
					"Public"
				],
				"operationId": "addScheduling",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PublicSchedulingDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingDomain"
								}
							}
						}
					}
				},
				"security": []
			}
		},
		"/api/establishment": {
			"get": {
				"tags": [
					"Establishment"
				],
				"summary": "Return a list of establishments",
				"operationId": "findList_8",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "query",
						"description": "Establishment Id (Equal)"
					},
					{
						"name": "name",
						"in": "query",
						"description": "Name (LikeIgnoreCase)"
					},
					{
						"name": "publicIdentifier",
						"in": "query",
						"description": "Public Identifier (LikeIgnoreCase)"
					},
					{
						"name": "clientName",
						"in": "query",
						"description": "Client Name (LikeIgnoreCase)"
					},
					{
						"name": "responsibleUserId",
						"in": "query",
						"description": "Responsible User Id (Equal)"
					},
					{
						"name": "responsibleUserName",
						"in": "query",
						"description": "Responsible User Name (LikeIgnoreCase)"
					},
					{
						"name": "situationType",
						"in": "query",
						"description": "Situation Type (In)",
						"schema": {
							"type": "string",
							"enum": [
								"ACTIVE",
								"CANCELED"
							]
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/EstablishmentSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Found zero or more results",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageEstablishment"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Establishment"
				],
				"summary": "Create new establishment",
				"operationId": "insert_9",
				"requestBody": {
					"description": "Establishment to create",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EstablishmentDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Establishment created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Establishment"
								}
							}
						}
					}
				}
			}
		},
		"/api/establishment/{establishmentId}/workDayDefault": {
			"get": {
				"tags": [
					"Work Day Default"
				],
				"operationId": "findList_9",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/WorkDayDefaultProjection"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Work Day Default"
				],
				"operationId": "insert_10",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WorkDayDefaultDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDayDefault"
								}
							}
						}
					}
				}
			}
		},
		"/api/auth/newUser": {
			"post": {
				"tags": [
					"Auth"
				],
				"summary": "Create new user",
				"operationId": "newUser",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserCredentialsDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "New user created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserAuthenticatedResponseDto"
								}
							}
						}
					}
				},
				"security": []
			}
		},
		"/api/auth/login": {
			"post": {
				"tags": [
					"Auth"
				],
				"summary": "Login",
				"operationId": "login",
				"requestBody": {
					"description": "Login",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserCredentialsDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Logged with success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserAuthenticatedResponseDto"
								}
							}
						}
					},
					"401": {
						"description": "Bad Credentials",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserAuthenticatedResponseDto"
								}
							}
						}
					}
				},
				"security": []
			}
		},
		"/api/attendance/{establishmentId}": {
			"get": {
				"tags": [
					"Attendance"
				],
				"summary": "Return a list of attendance",
				"operationId": "findList_10",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"description": "Logged Establishment Id (Equal)",
						"required": true
					},
					{
						"name": "attendanceId",
						"in": "query",
						"description": "Attendance Id (Equal)"
					},
					{
						"name": "clientId",
						"in": "query",
						"description": "Client Id (Equal)"
					},
					{
						"name": "clientName",
						"in": "query",
						"description": "Client Name (LikeIgnoreCase)"
					},
					{
						"name": "situationType",
						"in": "query",
						"description": "Situation Type (In)",
						"schema": {
							"type": "string",
							"enum": [
								"ACTIVE",
								"PARTIALLY_ANSWERED",
								"CONCLUDED",
								"ABSENT",
								"CANCELED"
							]
						}
					},
					{
						"name": "beginInGreater",
						"in": "query",
						"description": "Begin In (GreaterThanOrEqual)"
					},
					{
						"name": "beginInLess",
						"in": "query",
						"description": "Begin In (LessThanOrEqual)"
					},
					{
						"name": "endInGreater",
						"in": "query",
						"description": "End In (GreaterThanOrEqual)"
					},
					{
						"name": "endInLess",
						"in": "query",
						"description": "End In (LessThanOrEqual)"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Found zero or more results",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageAttendanceDomain"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Attendance"
				],
				"summary": "Create new attendance",
				"operationId": "insert_11",
				"parameters": [
					{
						"name": "establishmentId",
						"in": "path",
						"description": "Logged Establishment Id",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"description": "Attendance to create",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AttendanceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Attendance created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{attendanceId}/service": {
			"get": {
				"tags": [
					"Attendance Service"
				],
				"summary": "Return a list of services of an attendance",
				"operationId": "findListAttendanceService",
				"parameters": [
					{
						"name": "attendanceId",
						"in": "path",
						"description": "Attendance Id (Equal)",
						"required": true
					},
					{
						"name": "serviceId",
						"in": "query",
						"description": "Service Id (Equal)"
					},
					{
						"name": "schedulingServiceId",
						"in": "query",
						"description": "Scheduling Service Id (Equal)"
					},
					{
						"name": "situationType",
						"in": "query",
						"description": "Situation Type (In)",
						"schema": {
							"type": "string",
							"enum": [
								"ACTIVE",
								"CANCELED"
							]
						}
					},
					{
						"name": "page",
						"in": "query",
[...]
