{
  "openapi": "3.0.1",
  "info": {
    "title": "Agenda API",
    "description": "Agenda Application",
    "version": "v0.0.*"
  },
  "servers": [
    {
      "url": "http://ec2-54-159-12-88.compute-1.amazonaws.com",
      "description": "Deploy"
    }
  ],
  "security": [{ "bearer-key": [] }],
  "paths": {
    "/api/{establishmentId}/user/{userId}/userEstablishment/{userEstablishmentId}": {
      "get": {
        "tags": ["User Establishment"],
        "summary": "Search for details of the user's relationship with the establishment",
        "operationId": "findById",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userEstablishmentId",
            "in": "path",
            "description": "User Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "User Establishment found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserEstablishment" }
              }
            }
          },
          "404": {
            "description": "User Establishment not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserEstablishment" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["User Establishment"],
        "summary": "Update user link with establishment",
        "operationId": "update",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userEstablishmentId",
            "in": "path",
            "description": "User Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "User establishment to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserEstablishmentDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Link updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserEstablishment" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["User Establishment"],
        "summary": "Remove user link with establishment",
        "operationId": "delete",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userEstablishmentId",
            "in": "path",
            "description": "User Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "Link removed" } }
      }
    },
    "/api/wa/{establishmentId}/account/{waAccountId}": {
      "get": {
        "tags": ["Whatsapp Account"],
        "summary": "Return a unique user whatsapp account",
        "operationId": "findById_1",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waAccountId",
            "in": "path",
            "description": "Whatsapp Account Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "User whatsapp account data found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaAccount" }
              }
            }
          },
          "404": {
            "description": "User whatsapp account data not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaAccount" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Whatsapp Account"],
        "summary": "Update existing whatsapp account",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waAccountId",
            "in": "path",
            "description": "Whatsapp Account Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Account data to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WaAccountDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Whatsapp account updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaAccount" }
              }
            }
          }
        }
      }
    },
    "/api/wa/{establishmentId}/account/{waAccountId}/unblock": {
      "put": {
        "tags": ["Whatsapp Account"],
        "summary": "Unblock an existing whatsapp account",
        "operationId": "unblock",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waAccountId",
            "in": "path",
            "description": "Whatsapp Account Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Whatsapp account unblocked",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaAccount" }
              }
            }
          }
        }
      }
    },
    "/api/wa/{establishmentId}/account/{waAccountId}/cancel": {
      "put": {
        "tags": ["Whatsapp Account"],
        "summary": "Cancel an existing whatsapp account",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waAccountId",
            "in": "path",
            "description": "Whatsapp Account Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Whatsapp account canceled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaAccount" }
              }
            }
          }
        }
      }
    },
    "/api/wa/{establishmentId}/account/{waAccountId}/block": {
      "put": {
        "tags": ["Whatsapp Account"],
        "summary": "Block an existing whatsapp account",
        "operationId": "block",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waAccountId",
            "in": "path",
            "description": "Whatsapp Account Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Whatsapp account blocked",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaAccount" }
              }
            }
          }
        }
      }
    },
    "/api/wa/{establishmentId}/account/msg/list/{waMsgListAccountId}": {
      "get": {
        "tags": ["Whatsapp Msg List Account"],
        "summary": "Return a unique whatsapp msg list account",
        "operationId": "findById_3",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waMsgListAccountId",
            "in": "path",
            "description": "Whatsapp msg list account id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Whatsapp msg list account found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaMsgListAccount" }
              }
            }
          },
          "404": {
            "description": "Whatsapp msg list account not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaMsgListAccount" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Whatsapp Msg List Account"],
        "summary": "Update an existing whatsapp msg list account",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waMsgListAccountId",
            "in": "path",
            "description": "Whatsapp msg list account id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WaMsgListAccountDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Whatsapp msg list account updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaMsgListAccount" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Whatsapp Msg List Account"],
        "summary": "Delete an existing whatsapp msg list account",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waMsgListAccountId",
            "in": "path",
            "description": "Whatsapp msg list account id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "204": { "description": "Whatsapp msg list account deleted" }
        }
      }
    },
    "/api/wa/{establishmentId}/account/msg/button/{waMsgButtonAccountId}": {
      "get": {
        "tags": ["Whatsapp Msg Button Account"],
        "summary": "Return a unique whatsapp msg button account",
        "operationId": "findById_5",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waMsgButtonAccountId",
            "in": "path",
            "description": "Whatsapp msg button account id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Whatsapp msg button account found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaMsgButtonAccount" }
              }
            }
          },
          "404": {
            "description": "Whatsapp msg button account not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaMsgButtonAccount" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Whatsapp Msg Button Account"],
        "summary": "Update an existing whatsapp msg button account",
        "operationId": "update_3",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waMsgButtonAccountId",
            "in": "path",
            "description": "Whatsapp msg button account id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WaMsgButtonAccountDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Whatsapp msg button account updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaMsgButtonAccount" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Whatsapp Msg Button Account"],
        "summary": "Delete an existing whatsapp msg button account",
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waMsgButtonAccountId",
            "in": "path",
            "description": "Whatsapp msg button account id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "204": { "description": "Whatsapp msg button account deleted" }
        }
      }
    },
    "/api/user/{userId}/{establishmentId}/workDay/{workDayId}": {
      "get": {
        "tags": ["Workday"],
        "summary": "Return an unique user workday",
        "operationId": "findByIdWorkDay",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "workDayId",
            "in": "path",
            "description": "Work Day Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "User address found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkDay" }
              }
            }
          },
          "404": {
            "description": "User address not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkDay" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Workday"],
        "summary": "Update user workday",
        "operationId": "updateWorkDay",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "workDayId",
            "in": "path",
            "description": "Work Day Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Workday to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WorkDayDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Workday updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkDay" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Workday"],
        "summary": "Delete user workday",
        "operationId": "deleteWorkDay",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "workDayId",
            "in": "path",
            "description": "Work Day Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "User workday deleted" } }
      }
    },
    "/api/user/{userId}/address/{addressId}": {
      "get": {
        "tags": ["User Address"],
        "summary": "Return an unique user address",
        "operationId": "findByIdAddress",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "Address Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "User address found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Address" }
              }
            }
          },
          "404": {
            "description": "User address not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Address" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["User Address"],
        "summary": "Update the user address",
        "operationId": "updateAddress",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "Address Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Address to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AddressDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Address updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Address" }
              }
            }
          }
        }
      }
    },
    "/api/user/{establishmentId}/{userId}": {
      "get": {
        "tags": ["User"],
        "summary": "Return a unique user",
        "operationId": "findById_11",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "User found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserProjection" }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserProjection" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["User"],
        "summary": "Update an existing user",
        "operationId": "update_4",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "User to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          }
        }
      }
    },
    "/api/user/{establishmentId}/{userId}/telephone/{userTelephoneId}/cancel": {
      "put": {
        "tags": ["User Telephone"],
        "summary": "Cancel a user telephone",
        "operationId": "cancel_1",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userTelephoneId",
            "in": "path",
            "description": "User Telephone Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "201": {
            "description": "Telephone canceled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserTelephone" }
              }
            }
          }
        }
      }
    },
    "/api/user/{establishmentId}/{userId}/password": {
      "put": {
        "tags": ["User"],
        "summary": "Update User Password",
        "operationId": "updateUserPassword",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "User Password to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserPasswordDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User Password updated",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/api/user/{establishmentId}/{userId}/lock/{userLockId}/unlock": {
      "put": {
        "tags": ["User Lock"],
        "summary": "Unlock user at an establishment",
        "operationId": "unlock",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userLockId",
            "in": "path",
            "description": "User Lock Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "User unlocked",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserLock" }
              }
            }
          }
        }
      }
    },
    "/api/service/{serviceId}/serviceValue/{serviceValueId}": {
      "get": {
        "tags": ["Service Value"],
        "summary": "Return an unique service value",
        "operationId": "findByIdServiceValue",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "serviceValueId",
            "in": "path",
            "description": "Service Value Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Service found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceValue" }
              }
            }
          },
          "404": {
            "description": "Service not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceValue" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Service Value"],
        "summary": "Update the value of a service",
        "operationId": "updateServiceValue",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "serviceValueId",
            "in": "path",
            "description": "Service Value Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Value to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ServiceValueDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Value updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceValue" }
              }
            }
          }
        }
      }
    },
    "/api/service/{serviceId}/serviceValue/{serviceValueId}/cancel": {
      "put": {
        "tags": ["Service Value"],
        "summary": "Cancel value of a service",
        "operationId": "cancelServiceValue",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "serviceValueId",
            "in": "path",
            "description": "Service Value Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Value canceled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceValue" }
              }
            }
          }
        }
      }
    },
    "/api/service/{serviceId}/serviceLink/{serviceLinkId}": {
      "get": {
        "tags": ["Service Link"],
        "summary": "Return an unique service link",
        "operationId": "findByIdServiceLink",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "serviceLinkId",
            "in": "path",
            "description": "Service Link Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Service found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceLink" }
              }
            }
          },
          "404": {
            "description": "Service not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceLink" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Service Link"],
        "summary": "Update link between services",
        "operationId": "updateServiceLink",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "serviceLinkId",
            "in": "path",
            "description": "Service Link Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Service link to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ServiceLinkDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Link created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceLink" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Service Link"],
        "summary": "Remove link between services",
        "operationId": "deleteServiceLink",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "serviceLinkId",
            "in": "path",
            "description": "Service Link Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "Link deleted" } }
      }
    },
    "/api/service/{establishmentId}/{serviceId}": {
      "get": {
        "tags": ["Service"],
        "summary": "Return a unique service",
        "operationId": "findById_14",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Service found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceDomain" }
              }
            }
          },
          "404": {
            "description": "Service not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceDomain" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Service"],
        "summary": "Update an existing service",
        "operationId": "update_5",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Service to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ServiceDomainDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Service updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceDomain" }
              }
            }
          }
        }
      }
    },
    "/api/service/{establishmentId}/{serviceId}/cancel": {
      "put": {
        "tags": ["Service"],
        "summary": "cancel an active service",
        "operationId": "cancelService",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Service canceled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceDomain" }
              }
            }
          }
        }
      }
    },
    "/api/service/{establishmentId}/category/{categoryId}": {
      "get": {
        "tags": ["Service Category"],
        "summary": "Return an unique service category",
        "operationId": "findByIdCategory",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "categoryId",
            "in": "path",
            "description": "Category Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Service found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Category" }
              }
            }
          },
          "404": {
            "description": "Service not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Category" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Service Category"],
        "summary": "Update an existing category",
        "operationId": "updateCategory",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "categoryId",
            "in": "path",
            "description": "Category Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Category to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CategoryDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Category updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Category" }
              }
            }
          }
        }
      }
    },
    "/api/scheduling/{schedulingId}/service/{schedulingServiceId}": {
      "get": {
        "tags": ["Scheduling Service"],
        "summary": "Return a unique schedule service",
        "operationId": "findById_15",
        "parameters": [
          {
            "name": "schedulingId",
            "in": "path",
            "description": "Scheduling Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "schedulingServiceId",
            "in": "path",
            "description": "Scheduling Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduling service found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulingServiceDomain"
                }
              }
            }
          },
          "404": {
            "description": "Scheduling service not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulingServiceDomain"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Scheduling Service"],
        "summary": "Update a service of a scheduling",
        "operationId": "update_6",
        "parameters": [
          {
            "name": "schedulingId",
            "in": "path",
            "description": "Scheduling Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "schedulingServiceId",
            "in": "path",
            "description": "Scheduling Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Service to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchedulingServiceDomainDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Service updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulingServiceDomain"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduling/{schedulingId}/service/cancel/{schedulingServiceId}": {
      "put": {
        "tags": ["Scheduling Service"],
        "summary": "Cancel a service of a scheduling",
        "operationId": "cancel_2",
        "parameters": [
          {
            "name": "schedulingId",
            "in": "path",
            "description": "Scheduling Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "schedulingServiceId",
            "in": "path",
            "description": "Scheduling Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulingServiceDomain"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulingServiceDomain"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduling/{establishmentId}/{schedulingId}": {
      "get": {
        "tags": ["Scheduling"],
        "summary": "Return a unique schedule",
        "operationId": "findById_16",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "schedulingId",
            "in": "path",
            "description": "Scheduling Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduling found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SchedulingDomain" }
              }
            }
          },
          "404": {
            "description": "Scheduling not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SchedulingDomain" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Scheduling"],
        "summary": "Update an existing scheduling",
        "operationId": "update_7",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "schedulingId",
            "in": "path",
            "description": "Scheduling Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Scheduling to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SchedulingDomainDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Scheduling updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SchedulingDomain" }
              }
            }
          }
        }
      }
    },
    "/api/scheduling/{establishmentId}/{schedulingId}/refuse": {
      "put": {
        "tags": ["Scheduling"],
        "summary": "Refuse a scheduling",
        "operationId": "refuseScheduled",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "schedulingId",
            "in": "path",
            "description": "Scheduling Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Refused",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/api/scheduling/{establishmentId}/{schedulingId}/confirm": {
      "put": {
        "tags": ["Scheduling"],
        "summary": "Confirm a scheduling",
        "operationId": "confirmScheduled",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "schedulingId",
            "in": "path",
            "description": "Scheduling Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmed",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/api/scheduling/{establishmentId}/{schedulingId}/cancel": {
      "put": {
        "tags": ["Scheduling"],
        "summary": "Cancel a scheduling",
        "operationId": "cancelScheduled",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "schedulingId",
            "in": "path",
            "description": "Scheduling Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Canceled",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/api/establishment/{establishmentId}": {
      "get": {
        "tags": ["Establishment"],
        "summary": "Return a unique establishment",
        "operationId": "findById_17",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Establishment found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Establishment" }
              }
            }
          },
          "404": {
            "description": "Establishment not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Establishment" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Establishment"],
        "summary": "Update an existing establishment",
        "operationId": "update_8",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Establishment to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EstablishmentDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Establishment updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Establishment" }
              }
            }
          }
        }
      }
    },
    "/api/establishment/{establishmentId}/workDayDefault/{workDayDefaultId}": {
      "get": {
        "tags": ["Work Day Default"],
        "summary": "Return an unique work day default",
        "operationId": "findById_18",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "workDayDefaultId",
            "in": "path",
            "description": "Work Day Default Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkDayDefault" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Work Day Default"],
        "summary": "Update an existing default workday into establishment",
        "operationId": "update_9",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "workDayDefaultId",
            "in": "path",
            "description": "Work Day Default Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Workday to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WorkDayDefaultDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Workday updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkDayDefault" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Work Day Default"],
        "summary": "Delete an existing default workday into establishment",
        "operationId": "delete_4",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "workDayDefaultId",
            "in": "path",
            "description": "Work Day Default Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Default workday deleted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkDayDefault" }
              }
            }
          }
        }
      }
    },
    "/api/establishment/{establishmentId}/config/{establishmentConfigId}": {
      "get": {
        "tags": ["Establishment Config"],
        "summary": "Return an establishment config",
        "operationId": "findByIdEstablishmentConfig",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentConfigId",
            "in": "path",
            "description": "Establishment Config Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Config of establishment found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EstablishmentConfig" }
              }
            }
          },
          "404": {
            "description": "Config of establishment not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EstablishmentConfig" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Establishment Config"],
        "summary": "Update config of establishment",
        "operationId": "updateEstablishmentConfig",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentConfigId",
            "in": "path",
            "description": "Establishment Config Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Config of establishment to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstablishmentConfigDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Config updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EstablishmentConfig" }
              }
            }
          }
        }
      }
    },
    "/api/establishment/{establishmentId}/address/{addressId}": {
      "get": {
        "tags": ["Establishment Address"],
        "summary": "Return a unique address of establishment",
        "operationId": "findByIdAddress_1",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "Address Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Address of establishment found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Address" }
              }
            }
          },
          "404": {
            "description": "Address of establishment not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Address" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Establishment Address"],
        "summary": "Update address of establishment",
        "operationId": "updateAddress_1",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "Address Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Address of establishment to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AddressDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Address updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Address" }
              }
            }
          }
        }
      }
    },
    "/api/attendance/{establishmentId}/{attendanceId}": {
      "get": {
        "tags": ["Attendance"],
        "summary": "Return a unique attendance",
        "operationId": "findById_19",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Logged Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "attendanceId",
            "in": "path",
            "description": "Attendance Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AttendanceDomain" }
              }
            }
          },
          "404": {
            "description": "Attendance not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AttendanceDomain" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Attendance"],
        "summary": "Update an existing attendance",
        "operationId": "update_10",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Logged Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "attendanceId",
            "in": "path",
            "description": "Attendance Id To Update",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Attendance to update",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AttendanceDomainDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Attendance updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AttendanceDomain" }
              }
            }
          }
        }
      }
    },
    "/api/attendance/{establishmentId}/finish/{attendanceId}": {
      "put": {
        "tags": ["Attendance"],
        "summary": "Mark an attendance as finished",
        "operationId": "finishAttendance",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "attendanceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AttendanceFinishDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Attendance marked as finished",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AttendanceDomain" }
              }
            }
          }
        }
      }
    },
    "/api/attendance/{establishmentId}/cancel/{attendanceId}": {
      "put": {
        "tags": ["Attendance"],
        "summary": "Cancel an attendance",
        "operationId": "cancelAttendance",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "attendanceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance cancelled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AttendanceDomain" }
              }
            }
          }
        }
      }
    },
    "/api/attendance/{establishmentId}/absent/{attendanceId}": {
      "put": {
        "tags": ["Attendance"],
        "summary": "Mark an attendance as absent",
        "operationId": "absentAttendance",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "attendanceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance marked as absent",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AttendanceDomain" }
              }
            }
          }
        }
      }
    },
    "/api/attendance/{attendanceId}/service/{attendanceServiceId}": {
      "get": {
        "tags": ["Attendance Service"],
        "summary": "Return a unique service of an attendance",
        "operationId": "findByIdAttendanceService",
        "parameters": [
          {
            "name": "attendanceId",
            "in": "path",
            "description": "Attendance Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "attendanceServiceId",
            "in": "path",
            "description": "Attendance Service Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Service of attendance found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceServiceDomain"
                }
              }
            }
          },
          "404": {
            "description": "Service of attendance not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceServiceDomain"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Attendance Service"],
        "summary": "Update an existing service in an attendance",
        "operationId": "updateAttendanceService",
        "parameters": [
          {
            "name": "attendanceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "attendanceServiceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendanceServiceDomainDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Service updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceServiceDomain"
                }
              }
            }
          }
        }
      }
    },
    "/api/attendance/{attendanceId}/service/cancel/{attendanceServiceId}": {
      "put": {
        "tags": ["Attendance Service"],
        "summary": "Cancel a service of an attendance",
        "operationId": "cancelAttendanceService",
        "parameters": [
          {
            "name": "attendanceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "attendanceServiceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Service cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceServiceDomain"
                }
              }
            }
          }
        }
      }
    },
    "/api/{establishmentId}/user/{userId}/userEstablishment": {
      "get": {
        "tags": ["User Establishment"],
        "summary": "Search establishments linked to the user",
        "operationId": "findList",
        "parameters": [
          {
            "name": "userEstablishmentId",
            "in": "query",
            "description": "User Establishment Id (Equal)"
          },
          {
            "name": "nickname",
            "in": "query",
            "description": "Nickname (LikeIgnoreCase)"
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": { "minimum": 0, "type": "integer", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": { "minimum": 1, "type": "integer", "default": 20 }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "Found zero or more results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageUserEstablishment"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["User Establishment"],
        "summary": "Link user with establishment",
        "operationId": "insert",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "User establishment to insert",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserEstablishmentDto" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Link created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserEstablishment" }
              }
            }
          }
        }
      }
    },
    "/api/webhook/whatsapp": {
      "post": {
        "tags": ["Public"],
        "summary": "Whatsapp token validation",
        "description": "When generating a new webhook on the 'developers.facebook.com' page, a token must be inserted that must also be saved with the account.\n This token will be validated when trying to save the webhook url, so it must already exist in the database",
        "operationId": "whatsapp",
        "requestBody": {
          "description": "Webhook validation data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhatsappWebhookValidationDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token validated and user is ok",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          },
          "404": {
            "description": "Token not found linked in an active whatsapp account",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": []
      }
    },
    "/api/wa/{establishmentId}/account": {
      "get": {
        "tags": ["Whatsapp Account"],
        "summary": "Return a list of user whatsapp account by establishment",
        "operationId": "findList_1",
        "parameters": [
          {
            "name": "waAccountId",
            "in": "query",
            "description": "Whatsapp Account Id (Equal)"
          },
          {
            "name": "telephone",
            "in": "query",
            "description": "Telephone (Like)"
          },
          { "name": "wabaId", "in": "query", "description": "Waba Id (Equal)" },
          {
            "name": "situationType",
            "in": "query",
            "description": "Situation Type (In)",
            "schema": {
              "type": "string",
              "enum": ["ACTIVE", "BLOCKED", "CANCELED"]
            }
          },
          {
            "name": "phoneNumberId",
            "in": "query",
            "description": "phoneNumberId (Equal)"
          },
          {
            "name": "phoneNumberId#NULL",
            "in": "query",
            "description": "Phone Number Id Is Null (Null)"
          },
          {
            "name": "webhookUserToken",
            "in": "query",
            "description": "Webhook User Token (Equal)"
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": { "minimum": 0, "type": "integer", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": { "minimum": 1, "type": "integer", "default": 20 }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "Found zero or more results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PageWaAccount" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Whatsapp Account"],
        "summary": "Insert new whatsapp account",
        "operationId": "insert_1",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Account data to insert",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WaAccountDto" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Whatsapp account inserted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaAccount" }
              }
            }
          }
        }
      }
    },
    "/api/wa/{establishmentId}/account/msg/model/binding/{waMsgModelId}": {
      "post": {
        "tags": ["Wa Msg Model Account"],
        "summary": "Binding model message with establishment account",
        "operationId": "bindingMsgToAccount",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waMsgModelId",
            "in": "path",
            "description": "Wa Msg Model Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaMsgModelAccount" }
              }
            }
          }
        }
      }
    },
    "/api/wa/{establishmentId}/account/msg/interactive/binding/{waMsgInteractiveId}": {
      "post": {
        "tags": ["Wa Msg Interactive Account"],
        "summary": "Binding interactive message with establishment account",
        "operationId": "bindingMsgToAccount_1",
        "parameters": [
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "waMsgInteractiveId",
            "in": "path",
            "description": "Wa Msg Interactive Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaMsgInteractiveAccount"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/{userId}/{establishmentId}/workHourSchedException": {
      "get": {
        "tags": ["Work Hour Schedule Exception"],
        "summary": "Return a list of Work Hour Schedule Exception",
        "operationId": "findListWorkHourSchedException",
        "parameters": [
          {
            "name": "workHourSchedExceptionId",
            "in": "query",
            "description": "Work Hour Schedule Exception Id (Equal)"
          },
          {
            "name": "dayExceptionGreater",
            "in": "query",
            "description": "Day Exception Greater (GreaterThanOrEqual)"
          },
          {
            "name": "dayExceptionLess",
            "in": "query",
            "description": "Day Exception Less (LessThanOrEqual)"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": { "minimum": 0, "type": "integer", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": { "minimum": 1, "type": "integer", "default": 20 }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "Found zero or more results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageWorkHourSchedException"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Work Hour Schedule Exception"],
        "summary": "Insert Work Hour Schedule Exception",
        "operationId": "insertWorkHourSchedException",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Work hour schedule exception to insert",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkHourSchedExceptionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Service inserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkHourSchedException"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/{userId}/{establishmentId}/workDay": {
      "get": {
        "tags": ["Workday"],
        "summary": "Return a list of user workday by establishment",
        "operationId": "findListWorkDay",
        "parameters": [
          {
            "name": "workDayId",
            "in": "query",
            "description": "Work Day Id (Equal)"
          },
          {
            "name": "dayWeek",
            "in": "query",
            "description": "Day of Week (In)",
            "schema": {
              "type": "string",
              "enum": [
                "SUNDAY",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY"
              ]
            }
          },
          {
            "name": "userEmployeeId",
            "in": "query",
            "description": "User Employee Id (Equal)"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": { "minimum": 0, "type": "integer", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": { "minimum": 1, "type": "integer", "default": 20 }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "Found zero or more results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PageWorkDay" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Workday"],
        "summary": "Insert new workday to user",
        "operationId": "insertWorkDay",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Workday to insert",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WorkDayDto" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Workday inserted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkDay" }
              }
            }
          }
        }
      }
    },
    "/api/user/{userId}/{establishmentId}/workDay/establishmentDefault": {
      "post": {
        "tags": ["Workday"],
        "summary": "Generates default working hours by establishment for the user",
        "operationId": "insertByEstablishmentDefault",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "201": {
            "description": "default workday generated",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/api/user/{userId}/{establishmentId}/userPermission": {
      "get": {
        "tags": ["User Permission"],
        "summary": "Return a list of users permissions",
        "operationId": "findListUserPermission",
        "parameters": [
          {
            "name": "userPermissionId",
            "in": "query",
            "description": "User Permission Id (Equal)"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": { "minimum": 0, "type": "integer", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": { "minimum": 1, "type": "integer", "default": 20 }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "Found zero or more results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PageUserPermission" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["User Permission"],
        "summary": "Insert new permission to user",
        "operationId": "insertUserPermission",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "User permission to insert",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserPermissionDto" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "User permission inserted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserPermission" }
              }
            }
          }
        }
      }
    },
    "/api/user/{userId}/{establishmentId}/monthWorkDay": {
      "get": {
        "tags": ["Month Work Day"],
        "summary": "Return a list of month work day",
        "operationId": "findList_10",
        "parameters": [
          {
            "name": "monthWorkDayId",
            "in": "query",
            "description": "Month Work Day Id (Equal)"
          },
          {
            "name": "userEmployeeId",
            "in": "query",
            "description": "User Employee Id (Equal)"
          },
          { "name": "day", "in": "query", "description": "Day (Equal)" },
          {
            "name": "dayGreater",
            "in": "query",
            "description": "Day (GreaterThanOrEqual)"
          },
          {
            "name": "dayLess",
            "in": "query",
            "description": "Day (LessThanOrEqual)"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User Id (Equal)",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id (Equal)",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": { "minimum": 0, "type": "integer", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": { "minimum": 1, "type": "integer", "default": 20 }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "Found zero or more results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PageMonthWorkDay" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Month Work Day"],
        "summary": "Create new month work day",
        "operationId": "insert_2",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Month work day to create",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MonthWorkDayDto" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Month work day created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MonthWorkDay" }
              }
            }
          }
        }
      }
    },
    "/api/user/{userId}/{establishmentId}/monthWorkDay/replicate/{yearMonth}/{userIdDestination}": {
      "post": {
        "tags": ["Month Work Day"],
        "summary": "Replicate configuration between users",
        "description": "Replicate configuration from one user to another. Will remove old configuration if any, for given month",
        "operationId": "replicateConfigurationByUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userIdDestination",
            "in": "path",
            "description": "User Id Destination",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "yearMonth",
            "in": "path",
            "description": "Year Month",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "User calendar replicated",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/api/user/{userId}/{establishmentId}/monthWorkDay/defaultWorkDay/{yearMonth}": {
      "post": {
        "tags": ["Month Work Day"],
        "summary": "Release schedule for user, for the month informed",
        "description": "From the month/year sent by parameter, it will generate the user's working days\n\n- Deletes the sent month/year configuration;\n- Search the working hours of the establishment;\n- Regenerates the user's working days for the month/year in question",
        "operationId": "insertDefaultMonthWork",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "yearMonth",
            "in": "path",
            "description": "Year Month",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "201": {
            "description": "Default Month work day regenerated",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/api/user/{userId}/{establishmentId}/monthWorkDay/defaultWorkDay/{initDate}/{finishDate}": {
      "post": {
        "tags": ["Month Work Day"],
        "summary": "Release schedule for user, for the date range informed",
        "description": "From the initial/final date sent by parameter, it generates the user's working days that are missing (not yet generated)\n\n- Search the working hours of the establishment;\n- Generates the user's remaining working days for the submitted date range",
        "operationId": "insertDefaultMonthWork_1",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "initDate",
            "in": "path",
            "description": "Init Date",
            "required": true,
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "finishDate",
            "in": "path",
            "description": "Finish Date",
            "required": true,
            "schema": { "type": "string", "format": "date" }
          }
        ],
        "responses": {
          "201": {
            "description": "Default Month work day created",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/api/user/{userId}/{establishmentId}/monthWorkDay/block/{yearMonth}": {
      "post": {
        "tags": ["Month Work Day"],
        "summary": "Block user calendar release by month/year",
        "description": "Block working days released for the user from the month/year sent by parameter",
        "operationId": "blockMonthWork",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "establishmentId",
            "in": "path",
            "description": "Establishment Id",
            "required": true,
[...]
