{
	"openapi": "3.0.1",
	"info": {
		"title": "Agenda API",
		"description": "Agenda Application",
		"version": "v0.0.*"
	},
	"servers": [{
		"url": "http://ec2-54-159-12-88.compute-1.amazonaws.com",
		"description": "Deploy"
	}],
	"security": [{
		"bearer-key": []
	}],
	"paths": {
		"/api/{establishmentId}/user/{userId}/userEstablishment/{userEstablishmentId}": {
			"get": {
				"tags": [
					"User Establishment"
				],
				"summary": "Search for details of the user's relationship with the establishment",
				"operationId": "findById",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userEstablishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"404": {
						"description": "Not autorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserEstablishment"
								}
							}
						}
					},
					"200": {
						"description": "Successful Operation",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserEstablishment"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"User Establishment"
				],
				"summary": "Update user link with establishment",
				"operationId": "update",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userEstablishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserEstablishmentDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserEstablishment"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"User Establishment"
				],
				"summary": "Remove user link with establishment",
				"operationId": "delete",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userEstablishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/workDay/{workDayId}": {
			"get": {
				"tags": [
					"Work Day"
				],
				"operationId": "findByIdWorkDay",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDay"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Work Day"
				],
				"operationId": "updateWorkDay",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WorkDayDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDay"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Work Day"
				],
				"operationId": "deleteWorkDay",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/user/{userId}/address/{addressId}": {
			"get": {
				"tags": [
					"User Address"
				],
				"operationId": "findByIdAddress",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "addressId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"User Address"
				],
				"operationId": "updateAddress",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "addressId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AddressDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/{userId}": {
			"get": {
				"tags": [
					"User"
				],
				"operationId": "findById_2",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"User"
				],
				"operationId": "update_1",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/{userId}/password": {
			"put": {
				"tags": [
					"User"
				],
				"operationId": "updateUserPassword",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserPasswordDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/{userId}/lock/{userLockId}/unlock": {
			"put": {
				"tags": [
					"User Lock"
				],
				"operationId": "unlock",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userLockId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserLock"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{serviceId}/serviceValue/{serviceValueId}": {
			"get": {
				"tags": [
					"Service Value"
				],
				"operationId": "findByIdServiceValue",
				"parameters": [{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceValueId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceValue"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Service Value"
				],
				"operationId": "updateServiceValue",
				"parameters": [{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceValueId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceValueDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceValue"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{serviceId}/serviceValue/{serviceValueId}/cancel": {
			"put": {
				"tags": [
					"Service Value"
				],
				"operationId": "cancelServiceValue",
				"parameters": [{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceValueId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceValue"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{serviceId}/serviceLink/{serviceLinkId}": {
			"get": {
				"tags": [
					"Service Link"
				],
				"operationId": "findByIdServiceLink",
				"parameters": [{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceLinkId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceLink"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Service Link"
				],
				"operationId": "updateServiceLink",
				"parameters": [{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceLinkId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceLinkDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceLink"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Service Link"
				],
				"operationId": "deleteServiceLink",
				"parameters": [{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceLinkId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/service/{establishmentId}/{serviceId}": {
			"get": {
				"tags": [
					"Service"
				],
				"operationId": "findById_4",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceDomain"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Service"
				],
				"operationId": "update_2",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{establishmentId}/{serviceId}/cancel": {
			"put": {
				"tags": [
					"Service"
				],
				"operationId": "cancelService",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{establishmentId}/category/{categoryId}": {
			"get": {
				"tags": [
					"Service Category"
				],
				"operationId": "findByIdCategory",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "categoryId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Category"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Service Category"
				],
				"operationId": "updateCategory",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "categoryId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CategoryDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Category"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{schedulingId}/service/{schedulingServiceId}": {
			"get": {
				"tags": [
					"Scheduling Service"
				],
				"operationId": "findByIdService",
				"parameters": [{
					"name": "schedulingServiceId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingServiceDomain"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Scheduling Service"
				],
				"operationId": "updateService",
				"parameters": [{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SchedulingServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{schedulingId}/service/cancel/{schedulingServiceId}": {
			"put": {
				"tags": [
					"Scheduling Service"
				],
				"operationId": "cancelService_1",
				"parameters": [{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{establishmentId}/{schedulingId}": {
			"get": {
				"tags": [
					"Scheduling"
				],
				"operationId": "findById_5",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingDomain"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Scheduling"
				],
				"operationId": "update_3",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SchedulingDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{establishmentId}/{schedulingId}/refuse": {
			"put": {
				"tags": [
					"Scheduling"
				],
				"operationId": "refuseScheduled",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{establishmentId}/{schedulingId}/confirm": {
			"put": {
				"tags": [
					"Scheduling"
				],
				"operationId": "confirmScheduled",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{establishmentId}/{schedulingId}/cancel": {
			"put": {
				"tags": [
					"Scheduling"
				],
				"operationId": "cancelScheduled",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/establishment/{establishmentId}": {
			"get": {
				"tags": [
					"Establishment"
				],
				"operationId": "findById_6",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Establishment"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Establishment"
				],
				"operationId": "update_4",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EstablishmentDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Establishment"
								}
							}
						}
					}
				}
			}
		},
		"/api/establishment/{establishmentId}/workDayDefault/{workDayDefaultId}": {
			"get": {
				"tags": [
					"Work Day Default"
				],
				"operationId": "findById_7",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayDefaultId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDayDefault"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Work Day Default"
				],
				"operationId": "update_5",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayDefaultId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WorkDayDefaultDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDayDefault"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Work Day Default"
				],
				"operationId": "delete_2",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayDefaultId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDayDefault"
								}
							}
						}
					}
				}
			}
		},
		"/api/establishment/{establishmentId}/config/{establishmentConfigId}": {
			"get": {
				"tags": [
					"Establishment Config"
				],
				"operationId": "findByIdEstablishmentConfig",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "establishmentConfigId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/EstablishmentConfig"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Establishment Config"
				],
				"operationId": "updateEstablishmentConfig",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "establishmentConfigId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EstablishmentConfigDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/EstablishmentConfig"
								}
							}
						}
					}
				}
			}
		},
		"/api/establishment/{establishmentId}/address/{addressId}": {
			"get": {
				"tags": [
					"Establishment Address"
				],
				"operationId": "findByIdAddress_1",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "addressId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Establishment Address"
				],
				"operationId": "updateAddress_1",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "addressId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AddressDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{establishmentId}/{attendanceId}": {
			"get": {
				"tags": [
					"Attendance"
				],
				"operationId": "findById_8",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Attendance"
				],
				"operationId": "update_6",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AttendanceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{establishmentId}/finish/{attendanceId}": {
			"put": {
				"tags": [
					"Attendance"
				],
				"operationId": "finishAttendance",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AttendanceFinishDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{establishmentId}/cancel/{attendanceId}": {
			"put": {
				"tags": [
					"Attendance"
				],
				"operationId": "cancelAttendance",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{establishmentId}/absent/{attendanceId}": {
			"put": {
				"tags": [
					"Attendance"
				],
				"operationId": "absentAttendance",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{attendanceId}/service/{attendanceServiceId}": {
			"get": {
				"tags": [
					"Attendance Service"
				],
				"operationId": "findByIdAttendanceService",
				"parameters": [{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceServiceDomain"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Attendance Service"
				],
				"operationId": "updateAttendanceService",
				"parameters": [{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AttendanceServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{attendanceId}/service/cancel/{attendanceServiceId}": {
			"put": {
				"tags": [
					"Attendance Service"
				],
				"operationId": "cancelAttendanceService",
				"parameters": [{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "attendanceServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/{establishmentId}/user/{userId}/userEstablishment": {
			"get": {
				"tags": [
					"User Establishment"
				],
				"summary": "Search establishments linked to the user",
				"operationId": "findList",
				"parameters": [{
						"name": "userEstablishmentId",
						"in": "query"
					},
					{
						"name": "establishmentId",
						"in": "query"
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUserEstablishment"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"User Establishment"
				],
				"summary": "Link user with establishment",
				"operationId": "insert",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserEstablishmentDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserEstablishment"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/workHourSchedException": {
			"get": {
				"tags": [
					"Work Hour Sched Exception"
				],
				"operationId": "findListWorkHourSchedException",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/WorkHourSchedExceptionSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageWorkHourSchedException"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Work Hour Sched Exception"
				],
				"operationId": "insertWorkHourSchedException",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WorkHourSchedExceptionDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkHourSchedException"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/workDay": {
			"get": {
				"tags": [
					"Work Day"
				],
				"operationId": "findListWorkDay",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/WorkDaySpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageWorkDay"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Work Day"
				],
				"operationId": "insertWorkDay",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WorkDayDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDay"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/workDay/establishmentDefault": {
			"post": {
				"tags": [
					"Work Day"
				],
				"operationId": "insertByEstablishmentDefault",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/userPermission": {
			"get": {
				"tags": [
					"User Permission"
				],
				"operationId": "findListUserPermission",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/UserPermissionSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUserPermission"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"User Permission"
				],
				"operationId": "insertUserPermission",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserPermissionDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserPermission"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay": {
			"get": {
				"tags": [
					"Month Work Day"
				],
				"operationId": "findList_1",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/MonthWorkDaySpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageMonthWorkDay"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Month Work Day"
				],
				"operationId": "insert_1",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MonthWorkDayDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MonthWorkDay"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay/replicate/{yearMonth}/{userIdDestination}": {
			"post": {
				"tags": [
					"Month Work Day"
				],
				"summary": "Replicate configuration from one user to another. Will remove old configuration if any, for given month",
				"operationId": "replicateConfigurationByUser",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userIdDestination",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "yearMonth",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay/defaultWorkDay/{yearMonth}": {
			"post": {
				"tags": [
					"Month Work Day"
				],
				"summary": "Release schedule for user, for the month informed",
				"operationId": "insertDefaultMonthWork",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "yearMonth",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay/defaultWorkDay/{initDate}/{finishDate}": {
			"post": {
				"tags": [
					"Month Work Day"
				],
				"summary": "Release schedule for user referring to the range of dates sent",
				"operationId": "insertDefaultMonthWork_1",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "initDate",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"name": "finishDate",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay/block/{yearMonth}": {
			"post": {
				"tags": [
					"Month Work Day"
				],
				"summary": "Blocked Year/Month",
				"operationId": "blockMonthWork",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "yearMonth",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay/block/{initDate}/{finishDate}": {
			"post": {
				"tags": [
					"Month Work Day"
				],
				"summary": "Blocked date range",
				"operationId": "blockMonthWorkByRangeDate",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "initDate",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"name": "finishDate",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/defaultWorkSched": {
			"post": {
				"tags": [
					"Work Hour Sched Info"
				],
				"operationId": "generateEmployeeWorkTime",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/user/{userId}/userService": {
			"get": {
				"tags": [
					"User Service"
				],
				"operationId": "findListUserServiceDomain",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/UserServiceSpec"
						}
					},
					{
						"name": "pageable",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Pageable"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUserServiceDomain"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"User Service"
				],
				"operationId": "insertUserServiceDomain",
				"parameters": [{
					"name": "userId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/{userId}/lock": {
			"get": {
				"tags": [
					"User Lock"
				],
				"operationId": "findList_3",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/UserLockSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUserLock"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"User Lock"
				],
				"operationId": "insert_2",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserLockDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserLock"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/": {
			"post": {
				"tags": [
					"User"
				],
				"operationId": "insert_3",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}": {
			"get": {
				"tags": [
					"User"
				],
				"operationId": "findList_2",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/UserSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUser"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"User"
				],
				"operationId": "insert_4",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{serviceId}/serviceValue": {
			"get": {
				"tags": [
					"Service Value"
				],
				"operationId": "findListServiceValue",
				"parameters": [{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/ServiceValueSpec"
						}
					},
					{
						"name": "pageable",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Pageable"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageServiceValue"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Service Value"
				],
				"operationId": "insertServiceValue",
				"parameters": [{
					"name": "serviceId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceValueDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceValue"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{serviceId}/serviceLink": {
			"get": {
				"tags": [
					"Service Link"
				],
				"operationId": "findListServiceLink",
				"parameters": [{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/ServiceLinkSpec"
						}
					},
					{
						"name": "pageable",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Pageable"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageServiceLink"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Service Link"
				],
				"operationId": "insertServiceLink",
				"parameters": [{
					"name": "serviceId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceLinkDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceLink"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{establishmentId}": {
			"get": {
				"tags": [
					"Service"
				],
				"operationId": "findList_4",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/ServiceSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageServiceDomain"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Service"
				],
				"operationId": "insert_5",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{establishmentId}/category": {
			"get": {
				"tags": [
					"Service Category"
				],
				"operationId": "findListCategory",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/CategorySpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageCategory"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Service Category"
				],
				"operationId": "insertCategory",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CategoryDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Category"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{schedulingId}/service": {
			"get": {
				"tags": [
					"Scheduling Service"
				],
				"operationId": "findListService",
				"parameters": [{
						"name": "schedulingId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/SchedulingServiceSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageSchedulingServiceDomain"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Scheduling Service"
				],
				"operationId": "insertService",
				"parameters": [{
					"name": "schedulingId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SchedulingServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{establishmentId}": {
			"get": {
				"tags": [
					"Scheduling"
				],
				"operationId": "findList_5",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/SchedulingSpec"
						}
					},
					{
						"name": "pageable",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Pageable"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageSchedulingDomain"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Scheduling"
				],
				"operationId": "insert_6",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SchedulingDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/public/establishment/scheduling/{establishmentId}": {
			"post": {
				"tags": [
					"Public"
				],
				"operationId": "addScheduling",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PublicSchedulingDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SchedulingDomain"
								}
							}
						}
					}
				},
				"security": []
			}
		},
		"/api/establishment": {
			"get": {
				"tags": [
					"Establishment"
				],
				"operationId": "findList_6",
				"parameters": [{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/EstablishmentSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageEstablishment"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Establishment"
				],
				"operationId": "insert_7",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EstablishmentDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Establishment"
								}
							}
						}
					}
				}
			}
		},
		"/api/establishment/{establishmentId}/workDayDefault": {
			"get": {
				"tags": [
					"Work Day Default"
				],
				"operationId": "findList_7",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/WorkDayDefaultProjection"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Work Day Default"
				],
				"operationId": "insert_8",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WorkDayDefaultDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkDayDefault"
								}
							}
						}
					}
				}
			}
		},
		"/api/auth/recoverPassword": {
			"post": {
				"tags": [
					"Auth"
				],
				"operationId": "recoverPassword",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PasswordRecoveryDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PasswordRecoveryResponseDTO"
								}
							}
						}
					}
				},
				"security": []
			}
		},
		"/api/auth/newUser": {
			"post": {
				"tags": [
					"Auth"
				],
				"operationId": "newUser",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserCredentialsDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserAuthenticatedResponseDto"
								}
							}
						}
					}
				},
				"security": []
			}
		},
		"/api/auth/login": {
			"post": {
				"tags": [
					"Auth"
				],
				"operationId": "login",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserCredentialsDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserAuthenticatedResponseDto"
								}
							}
						}
					}
				},
				"security": []
			}
		},
		"/api/attendance/{establishmentId}": {
			"get": {
				"tags": [
					"Attendance"
				],
				"operationId": "findList_8",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/AttendanceSpec"
						}
					},
					{
						"name": "pageable",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Pageable"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageAttendanceDomain"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Attendance"
				],
				"operationId": "insert_9",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AttendanceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/attendance/{attendanceId}/service": {
			"get": {
				"tags": [
					"Attendance Service"
				],
				"operationId": "findListAttendanceService",
				"parameters": [{
						"name": "attendanceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/AttendanceServiceSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageAttendanceServiceDomain"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Attendance Service"
				],
				"operationId": "insertAttendanceService",
				"parameters": [{
					"name": "attendanceId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AttendanceServiceDomainDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AttendanceServiceDomain"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/workHourSchedException/{workHourSchedExceptionId}": {
			"get": {
				"tags": [
					"Work Hour Sched Exception"
				],
				"operationId": "findByIdWorkHourSchedException",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workHourSchedExceptionId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WorkHourSchedException"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Work Hour Sched Exception"
				],
				"operationId": "deleteWorkHourSchedException",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workHourSchedExceptionId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/workDay/user": {
			"get": {
				"tags": [
					"Work Day"
				],
				"operationId": "findListUserWorkDay",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/WorkDayUserProjection"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/userPermission/{userPermissionId}": {
			"get": {
				"tags": [
					"User Permission"
				],
				"operationId": "findByIdUserPermission",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userPermissionId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserPermission"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"User Permission"
				],
				"operationId": "deleteUserPermission",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userPermissionId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/user/{userId}/{establishmentId}/monthWorkDay/{workDayId}": {
			"get": {
				"tags": [
					"Month Work Day"
				],
				"operationId": "findById_1",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MonthWorkDay"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Month Work Day"
				],
				"operationId": "delete_1",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "workDayId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/user/{userId}/userService/{userServiceId}": {
			"get": {
				"tags": [
					"User Service"
				],
				"operationId": "findByIdUserServiceDomain",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserServiceDomain"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"User Service"
				],
				"operationId": "deleteUserServiceDomain",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/api/user/{establishmentId}/{userId}/lock/{userLockId}": {
			"get": {
				"tags": [
					"User Lock"
				],
				"operationId": "findById_3",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userLockId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserLock"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/workHourSched/{userEmployeeId}/{day}": {
			"get": {
				"tags": [
					"Work Hour Sched Info"
				],
				"operationId": "workHourSchedList",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "userEmployeeId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "day",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageWorkHourSchedInfo"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/perm/{tpPermissionType}": {
			"get": {
				"tags": [
					"User"
				],
				"operationId": "findListTpPermission",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "tpPermissionType",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"ROLE_ADM",
								"ROLE_OWNER",
								"ROLE_EMPLOYEE",
								"ROLE_CLIENT",
								"ROLE_PRE_CLIENT"
							]
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/UserSpec"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"required": false,
						"schema": {
							"minimum": 0,
							"type": "integer",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"required": false,
						"schema": {
							"minimum": 1,
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUser"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{establishmentId}/establishment": {
			"get": {
				"tags": [
					"User"
				],
				"operationId": "findAllWithEstablishment",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "name",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "email",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "pageable",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Pageable"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PageUserProjection"
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{establishmentId}/withValue": {
			"get": {
				"tags": [
					"Service"
				],
				"operationId": "findListWithValue",
				"parameters": [{
					"name": "establishmentId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string",
						"format": "uuid"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/ServiceDomainProjection"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/service/{establishmentId}/serviceValue/grouped": {
			"get": {
				"tags": [
					"Service Value"
				],
				"operationId": "findListServiceValueGroupedByEstablishment",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "spec",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/ServiceValueGroupedSpec"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/ServiceDomain"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/scheduling/{establishmentId}/{beginFilter}/{endFilter}/{justFreeTime}": {
			"get": {
				"tags": [
					"Scheduling"
				],
				"operationId": "findSchedulingList",
				"parameters": [{
						"name": "establishmentId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "beginFilter",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"name": "endFilter",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"name": "justFreeTime",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"YES",
								"NO"
							]
						}
[...]
